{% extends 'base.html' %}

{% block extra_head %}
    <script src="https://unpkg.com/mailgo@0.12.2/dist/mailgo.min.js" async=""></script>
{% endblock %}

{% block content %}

<section class="section is-large">
    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds">
                <h1 class="title">Let's Create Together!</h1>
                <p class="is-size-5">
                    Let's connect, discuss your ideas, and craft something extraordinary.<br>
                    I can be reached via <a href="https://instagr.am/iroun.photos/" target="_blank">Instagram DM</a> or <a href="mailto:iroun.photos@gmail.com">email</a> - let's embark on this creative journey together!
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}